{% extends "base.html" %}

{% block content %}
	<h1>ADD GROUP</h1>
	<form action="" method="post" name="add_group">
		<!-- <select name="groupIdField">
			{% for i in groups %}
				<option value="{{i.id}}">{{i.number}}</option>
			{% endfor %}
		</select> -->

		Selector: {{form.groupIdField}}
		<p><input type="submit" value="Register"></p>
	</form>	
{% endblock %}