{% extends "base.html" %}

{% block content %}
		<h1>Hello</h1>

		<form action="" method="post" name="add_subject">
		{{ form.csrf_token }}
		<p>
			Subject name:{{form.nameField(size=20)}}<br>
			Subject descriprion:{{form.descriptionField(size=20)}}<br>
		</p>
		<p><input type="submit" value="Add subject"></p>
		</form>
		
{% endblock %}