<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title></title>
</head>
<body>
	
	<div>
		<a href="/index">Home</a>
		
		<a href="/group">Group</a>
		
		{% if not current_user.is_authenticated %}
			<a href="/login">Login</a>
		{% endif %}

		{% if current_user.is_authenticated %}
			<a href="/logout">Logout</a>
			<a href="/user_data">User</a>
			<a href="/user_info">Info</a>
		{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>
</html>