{% extends "base.html" %}

{% block content %}

		{% if user_type == 1 %}
				
				<a>{{group.number}}</a>


			{% for i in students %}
				{% if i.picture %}
				<div class="block-content">
					<img class="block-content" src="data:;base64,{{i.picture}}">
				</div>
				{% endif %}
				<!-- <h1 class="list">{{i.number}}</h1> -->
				<h1 class="list">{{i.name}}</h1>
				<!-- <a href="/group_info?group_id={{i.id}}">{{i.name}}</a> -->
			{% endfor %}

		{% endif %}
		
{% endblock %}