{% extends "base.html" %}

{% block content %}
<h1>LOGIN</h1>
<div>
	<form action="" method="post" name="login">
		{{ form.csrf_token }}
		<p>
			LOGIN:{{form.loginField(size=20)}}<br>
			PASSWORD:{{form.passwordField(size=20)}}<br>
		</p>
		<p><input type="submit" value="Sign In"></p>

	</form>
	<p><a href="/register">Register</a></p>
</div>
{% endblock %}
