{% extends "base.html" %}



{% block content %}
<h1>Register</h1>
<form action="" method="post" name="login">
	{{ form.csrf_token }}
	<p>
		LOGIN:{{form.loginField(size=20)}}<br>
		PASSWORD:{{form.passwordField(size=20)}}<br>
	</p>
	<p><input type="submit" value="Register"></p>
</form>

{% endblock %}
