{% extends "base.html" %}

{% block content %}

		{% if user_type == 1 %}
				
				<a>{{subject.name}}</a>
				<a>{{subject.description}}</a>

			{% for i in groups %}
				<!-- {% if i.picture %}
				<div class="block-content">
					<img class="block-content" src="data:;base64,{{i.picture}}">
				</div>
				{% endif %} -->
				<!-- <h1 class="list">{{i.number}}</h1> -->
				<a href="/group_info?group_id={{i.id}}">{{i.number}}</a>

			{% endfor %}
			<a href="/add_group?subject_id={{subject.id}}">Add group</a>

		{% endif %}



		
{% endblock %}