{% extends "base.html" %}

{% block content %}
	{% if not current_user.name or flag == 2 %}
		<form action="" method="post" name="user_data">
		{{ form.csrf_token }}
			<p>
				Name:{{form.nameField(size=20)}}<br>
				Surname:{{form.surnameField(size=20)}}<br>
				Lastname:{{form.lastnameField(size=20)}}<br>
			</p>

			<p><input type="submit" value="Register"></p>
		</form>
		<form method="post" name="cancel" action="{{url_for('user_data')}}">
			<input type="submit" name="Cancel" value="Cancel">
		</form>
	{% else %}
		Name: {{current_user.name}}
		Surname: {{current_user.surname}}	
		Lastname: {{current_user.lastname}}
		<form method="post" name="change", action="{{url_for('user_data', form_type=2)}}">
			<input type="submit" name="Change" value="Change">
		</form>
	{% endif %}
	
	<form method="post" enctype="multipart/form-data" name="user_pic" action="{{url_for('user_pic_upload')}}">
		{{ form.csrf_token }}
		<input type="file" name="pic">
		<input type="submit" value="Upload" name="upload_pic">
	</form>
	
	{% for pic in pictures %}
		<form method="post" name="delete_pic" action="{{url_for('user_pic_del', picture_to_del = pic.id)}}">
			{{ form.csrf_token }}
			<div class="block-content">
				<img class="block-content" src="data:;base64,{{pic.picture}}">
			</div>
			<input type="submit" name="del" value="Delete">
		</form>
	{% endfor %}
	
{% endblock %}