{% extends "base.html" %}

{% block content %}
		<h1 class="list">{{user.name}} {{user.surname}} {{user.lastname}}</h1>

		
		{% for pic in pictures %}
		<div class="block-content">
			<img class="block-content" src="data:;base64,{{pic.picture}}">
		</div>
		{% endfor %}
		{% if user_type.type_name == "Professor" %}
			{% for i in subjects %}
				<a href="/subject_info?subject_id={{i.id}}">{{i.name}}</a>
			{% endfor %}
			<a href="/add_subject">Add subject</a>
		{% endif %}

		
{% endblock %}